<ng-container *ngIf="pokemons">
  <div class="pokemons-container">
    <nz-spin nzSimple [nzSize]="'large'" class="py-8" *ngIf="loading; else pokemonsList"></nz-spin>
    <ng-template #pokemonsList>
      <button *ngFor="let pokemon of pokemons"
              class="pokemon" (click)="onShowDetails(pokemon)">
        <img
          nz-image
          [nzDisablePreview]="true"
          width="100%"
          height="75px"
          [nzSrc]="pokemon.sprite || ''"
          alt="pokemon"
        />
        <div class="pokemon-name">{{pokemon.name}}</div>
      </button>
    </ng-template>
  </div>
</ng-container>
