<nz-spin nzSimple [nzSize]="'large'" class="py-8 text-center" *ngIf="loading$ | async; else pokemonDetails"></nz-spin>

<ng-template #pokemonDetails>
  <ng-container *ngIf="pokemonDetails$ | async as details">
    <div class="pokemon-details">
      <div class="sprite">
        <img
          nz-image
          [nzDisablePreview]="true"
          width="100%"
          height="75px"
          [nzSrc]="pokemon.sprite || ''"
          alt="pokemon"
        />
      </div>

      <div class="information">
        <div>Weight: <b>{{details.weight}}</b></div>
        <div>height: <b>{{details.height}}</b></div>
        <div>Base experience: <b>{{details.base_experience}}</b></div>
        <div class="flex flex-row gap-2">
          <div>Types:</div>
          <ul>
            <li *ngFor="let type of details.types" class="font-bold">{{type.type.name}}</li>
          </ul>
        </div>
        <div class="flex flex-row gap-2">
          <div>Abilities:</div>
          <ul>
            <li *ngFor="let type of details.abilities" class="font-bold">{{type.ability.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>
